.button {
	background-color: red; 
	color: white; 
	padding: 5px;
	display: inline-block;
	vertical-align: top;
	font-family: arial;
	transition: background-color 1s;
}

.button:hover {
	background-color: blue;
	cursor: pointer;
}

#CanvasContainer {
	position: relative;
}

canvas {
	position: absolute;
	background-color: black;
	z-index: -1;
	left: 0px;
	top: 0px;
	width: 800px;
	height: 600px;
}

#GameOverlay {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 800px;
	height: 600px;
}

#GameMenu {
	opacity: 1;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.5);
	left: 0px;
	top: 0px;
	width: 800px;
	height: 600px;
	text-align: center;
	transition: opacity 2s;
}

#GameMenu > div {
	position: relative;
	top: 200px;
}

#GameMenu > div > .button {
	width: 100px;
}